body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}
.intro-backgrnd{
	background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.search-menu-dimensions {
  display: block;
  width: 50%;
  margin:5px;
  height: 30px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search-menu-box{
	
}

.text-style{
    float: left;
    width: 50%;
}

.select-form-style{
	width: 50%;
	float:right
}

.search-form{
  display: block;
  width: 94%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.service-banner{
	background-image: url("http://motorama.bg:8080//services/web/MotoramaCatalog/img/motoram_service.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
    border-bottom: .3rem solid #000000;
    margin-bottom: 10px;
    height: 273px;
}

#main-container.container{
	margin-top:25px;
	margin-bottom:200px;
}

#nav-list.navbar-nav{
	float:right;
	font-weight: 700;
    font-size: 1.550rem;
}

#service-info.col-lg-8{
    margin-top: 50px;
    margin-bottom: 100px;
}

.search-fieldset{
	border-radius: 3px; 
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #545454);
	background-image: -moz-linear-gradient(top, #ffffff, #545454);
	background-image: -ms-linear-gradient(top, #ffffff, #545454);
	background-image: -o-linear-gradient(top, #ffffff, #545454);
	background-image: linear-gradient(to bottom, #ffffff, #999);
}

.service-carousel img{
	width: auto;
	height: 200px;
	max-height: 200px;
}

.service-title{
	margin-bottom: 25px;
	margin-top: 20px;
}

/*
a:hover 
{
     color:#fff; 
     text-decoration:none; 
     cursor:pointer; 
}
