body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

a.search-button{
	background:    #000;
	background:    -webkit-linear-gradient(#000, #fff);
	background:    linear-gradient(#000, #fff);
	border:        1px solid #000;
	border-radius: 10px;
	color:         #fff;
	display:       inline-block;
	width:         160px;
	height:        40px;
	font:          normal 700 20px/40px "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	
}
a.search-button:hover{
	background:    -webkit-linear-gradient(#fff, #000);
	background:    linear-gradient(#fff, #000);
	text-decoration:none; 
   	cursor:pointer; 
}
/*
a:hover 
{
     color:#fff; 
     text-decoration:none; 
     cursor:pointer; 
}
