<!DOCTYPE html>
<html lang="en" ng-app="page">
   <head>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Motorama</title>
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <!-- Add custom CSS here -->
      <link href="css/motorama_catalog.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container">
            <div class="navbar-header">
            <!---
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>           
               </button>
                              <a class="navbar-brand" href="motorama_catalog.html">
               	 <img src="img/logo.png" id="logo"></img>
               </a>
              ---->
              <a href="motorama_catalog.html" ng-click="reloadPage()" class="navbar-left"><img src="img/logo.png" style="width:220px"></a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav" id="nav-list">
                  <li><a href="motorama_catalog_service.html">Service</a>
                  </li>              
                  <li><a href="motorama_catalog_add_tyre.html">Add Tyre</a>
                  </li>
                  <li><a href="motorama_catalog_add_width.html">Add Width</a>                 
                  </li>
                  <li><a href="motorama_catalog_add_diameter.html">Add Diameter</a>
                  </li>
                  <li><a href="motorama_catalog_add_brand.html">Add Brand</a>
                  </li>
                  <li><a href="motorama_catalog_add_ratio.html">Add Ratio</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
      </nav>
      <div class="container" id="main-container" ng-controller="ListController">
         <div class="row border-between">
            <div class="col-md-3" ng-show="showSideMenu == 1" ng-cloak> 
               <p class="lead">Dimensions</p>
               <div class="clear-space">
                  <select id="tyre_brand" name="tyre_brand" class="search-menu-dimensions" ng-change="changeItems()" ng-model="selectedBrand"
                     ng-options="brand.brand_id as brand.brand_name for brand in dataBrand">
                     <option value="">Brand</option>
                     <option value="selectedWidth">{{selectedBrand}}</option>
                  </select>
               </div>
               <div class="clear-space">
                  <select id="tyre_diameter" name="tyre_diameter" class="search-menu-dimensions" ng-change="changeItems()" ng-model="selectedDiameter"
                     ng-options="diameter.diameter_id as diameter.diameter_value for diameter in dataDiameter">
                     <option value="">Diameter</option>
                     <option value="selectedDiameter">{{selectedDiameters}}</option>
                  </select>
               </div>
               <div class="clear-space">
                  <select id="tyre_ratio" name="tyre_ratio" class="search-menu-dimensions" ng-change="changeItems()" ng-model="selectedRatio"
                     ng-options="ratio.ratio_id as ratio.ratio_value for ratio in dataRatio">
                     <option value="">Ratio</option>
                     <option value="selectedRatio">{{selectedRatio}}</option>
                  </select>
               </div>
               <div class="clear-space">
                  <select id="tyre_width" name="tyre_width" class="search-menu-dimensions" ng-change="changeItems()" ng-model="selectedWidth"
                     ng-options="width.width_id as width.width_value for width in dataWidth">
                     <option value="">Width</option>
                     <option value="selectedWidth">{{selectedWidth}}</option>
                  </select>
               </div>
               <!---
                  <p class="lead">Brands</p>
                  <div>
                  	<label ng-repeat="brand in dataBrand">
                  	  <input type="checkbox" checklist-model="selectedBrand" checklist-value="selectedBrand">{{brand.brand_name}}
                  	</label>					
                  </div>
                  ---->
            </div>
            <div class="col-md-9 col-md-push-3" ng-show="showSearchForm == 0">
               <form class="form-horizontal" ng-submit="GetData">
                  <fieldset>
                     <!-- Form Name -->
                     <legend>Search for tyres</legend>
                     <!-- Select Basic -->
                     <div class="form-group">
                        <label class="col-md-2 control-label" for="tyre_brand">Brand</label>
                        <div class="col-md-2">
                           <select id="tyre_brand" name="tyre_brand" class="search-form" ng-model="selectedBrand" 
                              ng-options="brand.brand_id as brand.brand_name for brand in dataBrand">
                              <option value="">Brand</option>
                           </select>
                        </div>
                        <label class="col-md-2 control-label" for="tyre_diameter">Diameter</label>
                        <div class="col-md-2">
                           <select id="tyre_diameter" name="tyre_diameter" class="search-form" ng-model="selectedDiameter"
                              ng-options="diameter.diameter_id as diameter.diameter_value for diameter in dataDiameter">
                              <option value="">Diameter</option>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-2 control-label" for="tyre_ratio">Ratio</label>
                        <div class="col-md-2">
                           <select id="tyre_ratio" name="tyre_ratio" class="search-form", ng-model="selectedRatio"
                              ng-options="ratio.ratio_id as ratio.ratio_value for ratio in dataRatio">
                              <option value="">Ratio</option>
                           </select>
                        </div>
                        <label class="col-md-2 control-label" for="tyre_width">Width</label>
                        <div class="col-md-2">
                           <select id="tyre_width" name="tyre_width" class="search-form" ng-model="selectedWidth"
                              ng-options="width.width_id as width.width_value for width in dataWidth">
                              <option value="">Width</option>
                           </select>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6 pull-right">
                           <button id="search-button" name="search-button" class="btn btn-danger" ng-click="itemConfig()">Search Tyres</button>
                        </div>
                     </div>
                     </br>                  
                  </fieldset>
               </form>
            </div>
            <!---
            <div class="col-md-3 col-md-pull-9" ng-show="showSearchForm == 0">
            <p class="lead">Brands</p>
                  	    <table>
				         <tr ng-repeat="brand in dataBrand">
				            <td>
				                <input type="checkbox" ng-model="selectedBrand"/>{{brand.brand_name}}
				            </td>
				        </tr>
				    </table>
				    <div>Selected: {{selectedBrand}}</div>
            </div>
            --->
            <div class="col-md-9">
               <div class="row" ng-show="showItems == 1" ng-cloak>
                  <table class="table table-condensed">
                     <thead>
                        <tr>
                           <th>Tyre Image</th>
                           <th>Tyre Model</th>
                           <th>Tyre Brand</th>
                           <th>Tyre Diameter</th>
                           <th>Tyre Ratio</th>
                           <th>Tyre Width</th>
                           <th>Tyre Price</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="entry in finalData">
                           <td><img src="{{entry.tyre_image_url}}" height="150" width="100"></td>
                           <td>{{entry.tyre_model}}</td>
                           <td>{{entry.brand_name}}</td>
                           <td>{{entry.diameter_value}}</td>
                           <td>{{entry.ratio_value}}</td>
                           <td>{{entry.width_value}}</td>
                           <td>{{entry.tyre_price}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <!-- /.container -->
      <div class="container">
         <hr>
         <footer>
            <div class="row">
               <div class="col-lg-12">
                  <p>Copyright &copy; Motorama 2017</p>
                  </p>
               </div>
            </div>
         </footer>
      </div>
      <!-- /.container -->
      <!-- JavaScript -->
      <script src="js/jquery-1.10.2.js"></script>
      <script src="js/bootstrap.js"></script>
   </body>
   <!-- JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
   <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="js/jquery-1.10.2.js"></script>
   <script src="js/bootstrap.js"></script>
   </body>
   <script type="text/javascript">
      angular.module('page', ['ngAnimate', 'ui.bootstrap']);
      angular.module('page').controller('ListController', function ($scope, $http ) {
      	
      	var urlBrand = '../../js/MotoramaCatalog/motorama_catalog_tyre_brand.js';
      	var urlDiameter = '../../js/MotoramaCatalog/motorama_catalog_tyre_diameter.js';
      	var urlRatio = '../../js/MotoramaCatalog/motorama_catalog_tyre_ratio.js';
      	var urlWidth = '../../js/MotoramaCatalog/motorama_catalog_tyre_width.js';
      	var urlTyreView = '../../js/MotoramaCatalog/motorama_catalog_tyre_view.js';
      	var finalUrl = " ";
      	
      	$scope.showSideMenu = 0;
      	$scope.showSearchForm = 0;
      	$scope.showItems = 0;
      	$scope.counter = 0;
      	
      	$scope.selectedBrand = null;
      	$scope.selectedDiameter = null;
      	$scope.selectedRatio = null;
      	$scope.selectedWidth = null;
      	      	
      	$scope.reloadPage = function(){$window.location.reload()}
      	
      	$http.get(urlWidth)
      		.success(function(dataWidth) {
      			$scope.dataWidth = dataWidth;
      		});
      	$http.get(urlDiameter)
      		.success(function(dataDiameter) {
      			$scope.dataDiameter = dataDiameter;
      		});      		
      	$http.get(urlBrand)
      		.success(function(dataBrand) {
      			$scope.dataBrand = dataBrand;
      		});
      	$http.get(urlRatio)
      		.success(function(dataRatio) {
      			$scope.dataRatio = dataRatio;
      		});
           
      $scope.itemConfig=function(){ 	 									
      	$scope.showSideMenu = !$scope.showSideMenu;
       	$scope.showSearchForm = !$scope.showSearchForm;
       	$scope.showItems = !$scope.showItems; 
      }
      $scope.changeItems = function(){
      finalUrl = urlTyreView + '?tyreBrand=' + $scope.selectedBrand + '&tyreDiameter=' + $scope.selectedDiameter + '&tyreRatio=' + $scope.selectedRatio + '&tyreWidth=' + $scope.selectedWidth;	
      		$http.get(finalUrl)    
      		.success(function(finalData) {
      			$scope.finalData = finalData;
      			//console.log(finalData);
      		}); 
      }
      
      $(document).ready(function(){	
      function listTyres(){
      $scope.changeItems();
      	}
      	      		$("#search-button").click(listTyres);
      });
      });
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
